.container{
    width: 91.592%;
    margin: 0 auto;
}

main{
    background-color: #fff;
    margin-top: 100vh;
    position: relative;
    z-index: 2;
}

.section-title h3{
    font-size: 38px;
    font-weight: 700;
    color: #1c1c1c;
    margin-bottom: 16px;
}

.section-title p{
    font-size: 14px;
    font-weight: 300;
    color: #5b5b5b;
    margin-top: 6px;
}

.section-title ul{
    display: flex;
}

.section-title ul li{
    font-size: 18px;
    font-weight: 300;
    color: #5b5b5b;
    cursor: pointer;
}

.section-title ul li.active{
    font-weight: 500;
    color: #1c1c1c;
}


.section-title ul li + li{
    margin-left: 32px;
}

.section-title ul li.active:after{
    content: '';
    display: block;
    background-color: #1c1c1c;
    width: 100%;
    height: 1px;
    margin-top: 6px;
}

.shop-now{
    margin-top: 32px;
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: 600;
    transition: 0.4s;
}

.shop-now a:after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #1c1c1c;
    transition: 0.4s;
}

.shop-now:hover a:after{
    width: 100%;
}

@media(max-width:1024px){
    .shop-now{
        right: 40px;
    }

    .padding-wrapper{
        padding: 0 40px;
    }


    .container{
        width:100%;
    }

    .section-title h3{
        font-size: 32px;

    }

    .section-title ul li{
        font-size: 16px;
    }
    
}

@media(max-width:500px){
    .shop-now{
        right: 20px;
    }

    .padding-wrapper{
        padding: 0 20px;
    }

    .container{
        width:100%;
    }

    main{
        margin-top: 321px;
    }

    .section-title h3{
        margin-bottom: 6px;
    }
}